*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    border: none;
    border: 0;
    list-style: none;
}
:root{
    --nav-left-background:#0c1526;
    --nav-left-border:#e0e2e7;
    --nav-left-footer:#1d2646;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
main{
    padding: 0.8rem;
    display: flex;
    color: #f0f1f3;
}   
#app-left-Var{  
flex-basis: 17.5%;
height: 98vh;
background-color:var(--nav-left-background);
padding: 0.8rem 1.2rem;
border-radius: 0.8rem;
font-size: 1.4rem;
}
.logo-sale-create-wraper{
    padding-bottom: 1.2rem;
}
.company-details{   
    display: flex;
    padding: 0.5rem 0.4rem;
    cursor: pointer;
     width: 100%;
     justify-content: space-between;
     align-items: center;
}
.company-details:hover{
    background-color: #676768;
    opacity: 1;
    border-radius: 0.6rem;
}   
.company-sub-content{
    padding-inline: 0.8rem;
}
.company-name{
    width:13rem;
    padding-bottom: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Company-logo{
    border-radius: 50%;
    width: 3rem;    
    height: 3rem;
}
.company-number{
    color: #858d9d;
    font-weight: 100;
}
.company-name-tooltip-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
}
.tooltip{
    visibility: hidden;
    opacity: 0;
    text-align: center;
    width: 28rem;
    padding: 0.5rem 0;
    position: absolute;
    top: 50%;
    left: 135%;
    background-color:#2c2e33;
    color: #f0f1f3;
    z-index: 1;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    border-radius: 0.4rem;
}
.tooltip::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    border-width: 0.6rem;
    border-style: solid;
    transform: translateY(-50%);
    border-color: transparent #2c2e33 transparent transparent;
    border: 0.6rem solid transparent #2c2e33 transparent transparent ;
}
.company-details:hover .tooltip{
    visibility: visible;
    opacity: 1;
}
.create-sale-dropdown{
    display: flex;
    background-color: #dbd8f5;
    border-radius: 5rem;
    overflow: hidden;
    margin-top: 1rem;
    color: #212529;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.icons-wraper{
    display: flex;
    padding: 0.6rem 2.9rem;

}
.create-sale-dropdown .fa-plus{
    padding-right: 0.8rem;
}
.create-sale-dropdown i{
    font-size: 1.2rem;
}
.create-sale-dropdown p{
    font-size: 1.2rem;
}
.create-sale-dropdown .d-a{
    background-color: #f1f0fc; 
}
.hover:hover{
    background-color: #c3bdfa;
}   
.no-hover:hover{
    background-color: #dbd8f5;  
}
.drop-down-onclick{ 
    background-color: #c3bdfa;
}
.setting-svg{
    visibility: hidden;
    padding-right: 1rem;
}
.company-details:hover .setting-svg{
    visibility:visible;
}
.general h3,.Accounting-Solutions h3{
    font-size: 1rem;
    color: #c2c6ce;
    font-family: 'Poppins';
    padding: 0.8rem 0rem;
}
.general ul .active{
    background-color: #2b386a;
    color: #e0e2e7;
    border-radius: 3.5rem;
}
.general li,.Accounting-Solutions li{
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    color: #a3a9b6;
    margin-block: 0.5rem;
    position: relative;
}
.general li:hover,.Accounting-Solutions li:hover{
    background-color: #1f2530;
    border-radius: 3.5rem;
    cursor: pointer;
}   
.general li i{
    margin-right: 1rem;
}
.general li svg{
    margin-right: 1rem;
}
.fa-angle-right{
   position: absolute;
   left: 88%;
   align-self: center;
}
